{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
{% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    {% element h1 %}
    {% trans "Sign In" %}
    {% endelement %}
    <p>
        {% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
</div>
    {% url 'account_login' as login_url %}

    <form method="POST" >
        <div class="col-md-4 mx-auto">
            {% csrf_token %}
            {{ form|crispy }}
    
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div>
    </form>
{% endblock content %}
